<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite" parallel="methods">

<listeners>
<listener class-name ="com.crm.ExtentReportListener.ExtentReportsListener"/>
</listeners>

	<test name="crmpackage">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
		

		</classes>
	</test>
</suite>